<!-- <p *ngIf="user.age >= 18; else under18">{{user.name}}</p>

<ng-template #under18>
  <div *ngIf="user.age < 18">
    You are to young
  </div>
</ng-template>

<button (click)="user.age = user.age - 1">-</button>
Age: {{user.age}}
<button (click)="user.age = user.age + 1">+</button>

<app-hello></app-hello> -->


<!-- NgFor Structual Directive -->
<ul>
  <!-- Cách dùng cả if cả for -->
  <!-- <ng-container *ngIf="users.length > 0; else noUser">
    <li
      *ngFor="let user of users; index as index; count as total; first as isFirst; last as isLast; even as isEven; odd as isOdd">
      <span>{{user.name}} -- {{user.id}} -- {{user.email}}</span>
      <br>
      <span>index is {{index}} out of {{total}}</span>
      <br>
      <span *ngIf="isEven">I am even number</span>
      <br>
      <span *ngIf="isOdd">I am odd number</span>
      <br>
      <span *ngIf="isFirst">I am first number</span>
      <br>
      <span *ngIf="isLast">I am last number</span>
      <hr>
      <span>Total of user is {{total}}</span>
    </li>
  </ng-container>
  <ng-template #noUser>
    No user!
  </ng-template> -->
</ul>

<!-- <ul>
  <ng-template let-user ngFor [ngForOf]="users" let-index="index" let-total="count" let-isFirst="first" let-isLast="last" let-isOdd="odd" let-isEven="even"> 
    <li>
      <span>{{user.name}} -- {{user.id}} -- {{user.email}}</span>
    <br>
    <span>index is {{index}} out of {{total}}</span>
    <br>
    <span *ngIf="isEven">I am even number</span>
    <br>
    <span *ngIf="isOdd">I am odd number</span>
    <br>
    <span *ngIf="isFirst">I am first number</span>
    <br>
    <span *ngIf="isLast">I am last number</span>
    <hr>
    <span>Total of user is {{total}}</span>
    </li>
  </ng-template>
</ul> -->

<!-- <button *ngFor="let tag of tags; last as isLast" [class.right-margin]="!isLast">{{tag}}</button> -->
<!-- NgFor Structual Directive -->


<app-hello></app-hello>

<!-- 
  - [class.ten-class]
  - [class]="array"
  - [class]="object"  "{'ten-class': boolean}"" 
-->

<button (click)="isDanger = !isDanger">Togger Danger</button> 
<!-- isDanger là true thì nó là false và ngược lại -->
<br>
<button (click)="isWarning = !isWarning">Togger Warning</button>
<div class="box" [class]="{'red-border': isDanger, 'yellow-background': isWarning}"></div>

<!-- 
  - [style.tenStyle]
  - [style.ten-style]
  - [style.tenStyle.unit]
  - [style]="object"
  - [style.css=variable]
 -->
 <!-- [style.color]="'white'" [style.background-color]="'gray'" [style.fontSize.rem]="2" -->

 <p [style]="{color: 'red', background: 'gray', fontSize: '2rem'}">06-02-2021</p>